body {
  margin: 0;
}
/* style to header */
.navContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  font-size: 22px;
  background-color: rgb(241, 231, 231);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
li {
  display: inline;
  color: black;
  justify-content: space-evenly;
  margin: 0;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
}
/* body of blog */
#root {
  text-align: center;
}
.blog-image {
  width: 50%;
  height: 50vh;
  margin: 10px auto;
}
.blog-image img {
  width: 100%;
  height: 100%;
}
/* styling footer */
h2 {
  padding: 20px 0px 4px 0px;
  color: black;
}
hr {
  width: 6%;
  height: 3px;
  border: none;
  text-align: center;
  background-color: rgb(25, 209, 86);
}
.footerContainer {
  background-color: rgb(241, 231, 231);
  text-align: center;
}

.footerElements {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.footerText {
  text-align: left;
  padding: 10px 0px 0px 10px;
}
.iconContent {
  display: inline;
  padding: 30px;
}
